
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #1b1f24;
    --primary-color-hover: #274049;
    --primary-light-color: #22282f;
    --primary-theme-color: #12bdff;
    --primary-white:#fff;
    --primary-yellow:#ffba53;
    --primary-yellow-hover:#ff8f8f;
    --primary-grey:#969595;
}

.blue-span{
    color: var(--primary-theme-color);
}

.grey-span{
    color: var(--primary-grey);
}

.btn{
    margin-top: 7px;
    font-weight: 900;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--primary-theme-color);
    border: 2px solid var(--primary-theme-color);
    border-radius: 10px;
}

.btn:hover{
    box-shadow: 2px 2px 10px var(--primary-theme-color);
}

a{
    text-decoration: none;
    color: var(--primary-white);
}

img{
    max-width: 100%;
    height: 500px;
}

input[type="color"]{
    border: none;
}
input[type="color"]::webkit-color-swatch-wrapper{
    padding: 0;
}
input[type="color"]::webkit-color-swatch{
    border: none;
}
.theme-picker{
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 50%;
    overflow:hidden ;
}
.submit-btn{
    font-weight: 900;
    padding: 10px;
    background-color: var(--primary-theme-color);
    color: var(--primary-white);
    border: 2px solid var(--primary-theme-color);
    border-radius: 10px;
}

.submit-btn:hover{
    cursor: pointer;
    background: var(--primary-color);
    color: var(--primary-white);
}

header{
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--primary-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    text-decoration: none;
    color: var(--primary-white);
}
header ul li a:hover{
    color: var(--primary-theme-color);
}
header button{
    font-weight: 900;
}
.logo-text{
    letter-spacing: 2px;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.menu-icon{
    display: none;
}
.cancel-icon{
    display: none;
}

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
}
.hero-text{
    color: var(--primary-white);
    padding: 20px;
}
.social-icon{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.social-icon:hover{
    color: var(--primary-theme-color);
}

.about-section{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
}
.img-div{
    height: 100%;
    width: 100%;
}

.about-section img{
    background-color: var(--primary-light-color);
    border: 2px solid var(--primary-theme-color);
    box-shadow: 2px 2px 20px var(--primary-theme-color);
}
.about-section ol{
    list-style: none;
    color: var(--primary-white);
    margin-left: 90px;

}
.about-section ol li h1{
    color: var(--primary-white);
    margin-bottom: 10px;
    font-size: 50px;
}
.about-section li{
    margin-bottom: 10px;
    color: var(--primary-grey);

}
.about-section li a{
    color: var(--primary-grey);

}
.about-section li a:hover{
    color: var(--primary-theme-color);
}


.skills{
    padding: 60px;
    background-color: var(--primary-color);    
}
.skills h2{
    text-align: center;
    color: var(--primary-theme-color);    
}
.skills p{
    text-align:center;
    color: var(--primary-white);
}
.skills .progress {
    height: 50px;
    display: block;
    background: none;
    color: var(--primary-white);
}
  
.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--primary-white);

}
  
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
  
.skills .progress-bar-wrap {
    background: #f2f3f5;
}
  
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #0563bb;
}

.resume {
    margin-top: 0px;
    padding: 60px;
    background-color: var(--primary-color);
}
.resume p{
    color: var(--primary-white);
}
.resume h2{
    color: var(--primary-theme-color);
    color: var(--primary-white);
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 90px;
    color: var(--primary-light-color);
    text-align: center;
    color: var(--primary-white);
}
  
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--primary-theme-color);
}
  
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}
  
.resume .resume-item h5 {
    font-size: 16px;
    color: var(--primary-white);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.resume .resume-item ul {
    padding-left: 20px;
}
  
.resume .resume-item ul li {
    padding-bottom: 10px;
    color: var(--primary-white);
}
  
.resume .resume-item:last-child {
    padding-bottom: 0;
}
  
.resume .resume-item::before {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

.PORTOFOLIO {
    margin-top: 0px;
    padding: 60px;
    background-color: var(--primary-color);
}

.PORTOFOLIO-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
} 

.PORTOFOLIO p{
    text-align:center;
    color: var(--primary-theme-color);
}
.PORTOFOLIO h2{
    text-align:center;
    color: var(--primary-white);
}
.row{
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}
.row img{
    height: 300px;
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15;
}
.footer{
    background-color: var(--primary-light-color);
    text-align: center;
    text-decoration: none;
}
.footer h2{
    color: red;
}
.footer p{
    color:var(--primary-white);
}
.footer h5{
    color: var(--primary-white);
}
@media (max-width: 860px){
    .header-links{
        position: absolute;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: -100vh;
        display: none;
        background-color: var(--primary-color);
        justify-content: start;
        padding: 20px;
        transition: right 0.3s ease;
        box-shadow: 2px 5px 15px var(--primary-theme-color);

    }
    .header ul{
        margin-top: 40px;
        flex-direction: column;
        line-height: 3rem;
    }
    .cancel-icon{
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
        width: 20px;
        height: 20px;
    }
    .menu-icon{
        display: block;
    }
    .hero-section{
        flex-direction: column;
    }
    .about-section{
        flex-direction: column;

    }
    .about-section ol{
        margin-left: 0;
        margin-top: 40px;
    }
    .about-section img{
        height: auto;
    }
    .about-section ol li h3{
        font-size: 30px;

    }
    .about-section{
        padding: 40px 30px;
    }
    .skills{
        padding: 40px 30px;
    }
    .resume{
        padding: 40px 30px;
    }
    .PORTOFOLIO img{
        height:auto;
    }
    .PORTOFOLIO{
        padding: 20px; 
    }
}